body {
  background-color: #2d2d2d;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

#img {
  background: linear-gradient(135deg, #5a4215, #d6a343);
  width: 100%;
  max-width: 1200px;
  color: white;
  padding: 5px 5px;
  border-radius: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px;
}

#img:hover {
  background: linear-gradient(#a3805d, #dffffd, #685f48);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}

#img:active {
  background: linear-gradient(1#C89B3C, #bdb03b, #997e24);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1);
}

#Clear {
  background-color: #2d2d2d;
  font-size: xx-large;
  border: #2d2d2d;
}

button {
  background: linear-gradient(45deg, #c89b3c, #c8aa6e, #c89b3c);
  border: none;
  color: white;
  padding: 12px 25px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  border-radius: 30px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.4s ease;
  margin: 20px;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}

button::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.5),
    transparent 70%
  );
  transition: opacity 0.5s ease;
  opacity: 0;
}

button:hover::before {
  opacity: 1;
}

button:hover {
  background: linear-gradient(45deg, #d8b657, #d6c693, #d8b657);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 0 15px rgba(255, 255, 255, 0.2);
  transform: scale(1.08);
}

button:active {
  background: linear-gradient(45deg, #c89b3c, #c8aa6e, #c89b3c);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1);
}
